<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<title>My Team</title>
<style>
    .category {
        font-size: 14px;
        font-weight: bold;
        padding: 5px;
    }

    ;

    .myTeam {
        text-align: center !important;
    }
</style>
</head>

<body>
<div class="bg-light pb-5">
    <div class="container">
        <header class="bg-danger text-white myTeam p-5">
            <h1>My Team</h1>
        </header>
        <div class="bg-white border border-secondary">
            <div class="row justify-content-center m-5" id="cardPanel">



            {{ team }}


            </div>


        </div>
    </div>
</div>

</body>

</html>